<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.warm.flow.orm.mapper.FlowDefinitionMapper">
    <resultMap type="org.dromara.warm.flow.orm.entity.FlowDefinition" id="FlowDefinitionResult">
        <result property="id" column="id"/>
        <result property="flowCode" column="flow_code"/>
        <result property="flowName" column="flow_name"/>
        <result property="category" column="category"/>
        <result property="version" column="version"/>
        <result property="isPublish" column="is_publish"/>
        <result property="formCustom" column="form_custom"/>
        <result property="formPath" column="form_path"/>
        <result property="activityStatus" column="activity_status"/>
        <result property="listenerType" column="listener_type"/>
        <result property="listenerPath" column="listener_path"/>
        <result property="ext" column="ext"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <sql id="selectVo">
        select t.id,
               t.flow_code,
               t.flow_name,
               t.category,
               t.version,
               t.is_publish,
               t.form_custom,
               t.form_path,
               t.activity_status,
               t.listener_type,
               t.listener_path,
               t.ext,
               t.create_time,
               t.update_time,
               t.del_flag,
               t.tenant_id
        from flow_definition t
    </sql>

    <sql id="paging_end">
        <if test="page !=null and page.pageNum != null and page.pageSize != null">
            LIMIT #{page.pageSize} offset #{page.pageNum}
        </if>
    </sql>

    <sql id="order_by">
        <if test="order != null and order != ''">order by ${order}</if>
    </sql>

    <sql id="select_parameter">
        <where>
            <if test="entity.id != null ">and t.id = #{entity.id}</if>
            <if test="entity.flowCode != null  and entity.flowCode != ''">and t.flow_code = #{entity.flowCode}</if>
            <if test="entity.flowName != null  and entity.flowName != ''">and t.flow_name = #{entity.flowName}</if>
            <if test="entity.category != null  and entity.category != ''">and t.category = #{entity.category}</if>
            <if test="entity.version != null  and entity.version != ''">and t.version = #{entity.version}</if>
            <if test="entity.isPublish != null ">and t.is_publish = #{entity.isPublish}</if>
            <if test="entity.formCustom != null">and t.form_custom = #{entity.formCustom}</if>
            <if test="entity.formPath != null">and t.form_path = #{entity.formPath}</if>
            <if test="entity.activityStatus != null">and t.activity_status = #{entity.activityStatus}</if>
            <if test="entity.listenerType != null and entity.listenerType != ''">and t.listener_type = #{entity.listenerType}</if>
            <if test="entity.listenerPath != null and entity.listenerPath != ''">and t.listener_path = #{entity.listenerPath}</if>
            <if test="entity.ext != null  and entity.ext != ''">and t.ext = #{entity.ext}</if>
            <if test="entity.createTime != null">and t.create_time = #{entity.createTime}</if>
            <if test="entity.updateTime != null">and t.update_time = #{entity.updateTime}</if>
            <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
            <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
        </where>
    </sql>

    <sql id="mysql_insert_batch">
        insert into flow_definition(
        id,
        flow_code,
        flow_name,
        category,
        version,
        is_publish,
        form_custom,
        form_path,
        activity_status,
        listener_type,
        listener_path,
        ext,
        create_time,
        update_time,
        del_flag,
        tenant_id
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.flowCode},
            #{item.flowName},
            #{item.category},
            #{item.version},
            #{item.isPublish},
            #{item.formCustom},
            #{item.formPath},
            #{item.activityStatus},
            #{item.listenerType},
            #{item.listenerPath},
            #{item.ext},
            #{item.createTime},
            #{item.updateTime},
            #{item.delFlag},
            #{item.tenantId}
            )
        </foreach>
    </sql>

    <sql id="oracle_insert_batch">
        insert into flow_definition(
        id,
        flow_code,
        flow_name,
        category,
        version,
        is_publish,
        form_custom,
        form_path,
        activity_status,
        listener_type,
        listener_path,
        ext,
        create_time,
        update_time,
        del_flag,
        tenant_id
        )
        <foreach collection="list" item="item" separator=" union all">
            select
            #{item.id},
            #{item.flowCode},
            #{item.flowName},
            #{item.category},
            #{item.version},
            #{item.isPublish},
            #{item.formCustom},
            #{item.formPath},
            #{item.activityStatus},
            #{item.listenerType},
            #{item.listenerPath},
            #{item.ext},
            #{item.createTime},
            #{item.updateTime},
            #{item.delFlag},
            #{item.tenantId}
            from dual
        </foreach>
    </sql>

    <select id="selectList" parameterType="org.dromara.warm.flow.orm.entity.FlowDefinition"
            resultMap="FlowDefinitionResult">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    SELECT * FROM ( SELECT TMP.*, ROWNUM ROW_ID FROM (
                </if>
                <include refid="includeAll"/>
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    ) TMP WHERE ROWNUM &lt;= #{page.pageSize}) WHERE ROW_ID &gt; #{page.pageNum}
                </if>
            </when>
            <otherwise>
                <include refid="includeAll"/>
                <include refid="paging_end"/>
            </otherwise>
        </choose>
    </select>

    <sql id="includeAll">
        <include refid="selectVo"/>
        <include refid="select_parameter"/>
        <include refid="order_by"/>
    </sql>

    <select id="selectCount" parameterType="org.dromara.warm.flow.orm.entity.FlowDefinition"
            resultType="java.lang.Long">
        select count(*) from flow_definition t
        <include refid="select_parameter"/>
    </select>

    <select id="selectById" resultMap="FlowDefinitionResult">
        <include refid="selectVo"/>
        where t.id = #{id}
        <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="selectByIds" resultMap="FlowDefinitionResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="queryByCodeList" resultMap="FlowDefinitionResult">
        <include refid="selectVo"/>
        where t.flow_code in
        <foreach item="item" collection="flowCodeList" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <insert id="insert" parameterType="org.dromara.warm.flow.orm.entity.FlowDefinition">
        insert into flow_definition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="flowCode != null and flowCode != ''">flow_code,</if>
            <if test="flowName != null and flowName != ''">flow_name,</if>
            <if test="category != null and category != ''">category,</if>
            <if test="version != null and version != ''">version,</if>
            <if test="isPublish != null">is_publish,</if>
            <if test="formCustom != null">form_custom,</if>
            <if test="formPath != null">form_path,</if>
            <if test="activityStatus != null">activity_status,</if>
            <if test="listenerType != null and listenerType != ''">listener_type,</if>
            <if test="listenerPath != null and listenerPath != ''">listener_path,</if>
            <if test="ext != null and ext != ''">ext,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="tenantId != null and tenantId != ''">tenant_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="flowCode != null and flowCode != ''">#{flowCode},</if>
            <if test="flowName != null and flowName != ''">#{flowName},</if>
            <if test="category != null and category != ''">#{category},</if>
            <if test="version != null and version != ''">#{version},</if>
            <if test="isPublish != null">#{isPublish},</if>
            <if test="formCustom != null">#{formCustom},</if>
            <if test="formPath != null">#{formPath},</if>
            <if test="activityStatus != null">#{activityStatus},</if>
            <if test="listenerType != null and listenerType != ''">#{listenerType},</if>
            <if test="listenerPath != null and listenerPath != ''">#{listenerPath},</if>
            <if test="ext != null and ext != ''">#{ext},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="tenantId != null and tenantId != ''">#{tenantId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="org.dromara.warm.flow.orm.entity.FlowDefinition">
        update flow_definition
        <trim prefix="SET" suffixOverrides=",">
            <if test="flowCode != null and flowCode != ''">flow_code = #{flowCode},</if>
            <if test="flowName != null and flowName != ''">flow_name = #{flowName},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="version != null and version != ''">version = #{version},</if>
            <if test="isPublish != null">is_publish = #{isPublish},</if>
            <if test="formCustom != null">form_custom = #{formCustom},</if>
            <if test="formPath != null">form_path = #{formPath},</if>
            <if test="activityStatus != null">activity_status = #{activityStatus},</if>
            <if test="listenerType != null and listenerType != ''">listener_type = #{listenerType},</if>
            <if test="listenerPath != null and listenerPath != ''">listener_path = #{listenerPath},</if>
            <if test="ext != null and ext != ''">ext = #{ext},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
        <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
        <if test="tenantId != null  and tenantId != ''">and tenant_id = #{tenantId}</if>
    </update>

    <update id="closeFlowByCodeList" parameterType="java.util.List">
        update flow_definition set is_publish = 9
        where flow_code in
        <foreach item="item" collection="flowCodeList" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="entity.delFlag != null  and entity.delFlag != ''">and del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </update>

    <update id="updatePublishStatus" parameterType="java.util.List">
        update flow_definition set is_publish = #{publishStatus}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.delFlag != null  and entity.delFlag != ''">and del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </update>

    <delete id="deleteById">
        delete
        from flow_definition
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdLogic">
        update flow_definition
        set del_flag = #{logicDeleteValue}
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and del_flag = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="deleteByIds">
        delete from flow_definition where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdsLogic">
        update flow_definition
        set del_flag = #{logicDeleteValue}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and del_flag = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="delete" parameterType="org.dromara.warm.flow.orm.entity.FlowDefinition">
        delete from flow_definition
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="flowCode != null and flowCode != ''">and flow_code = #{flowCode}</if>
            <if test="flowName != null and flowName != ''">and flow_name = #{flowName}</if>
            <if test="category != null and category != ''">and category = #{category}</if>
            <if test="version != null and version != ''">and version = #{version}</if>
            <if test="isPublish != null">and is_publish = #{isPublish}</if>
            <if test="formCustom != null">and form_custom = #{formCustom}</if>
            <if test="formPath != null">and form_path = #{formPath}</if>
            <if test="activityStatus != null">and activity_status = #{activityStatus}</if>
            <if test="listenerType != null and listenerType != ''">and listener_type = #{listenerType}</if>
            <if test="listenerPath != null and listenerPath != ''">and listener_path = #{listenerPath}</if>
            <if test="ext != null and ext != ''">and ext = #{ext}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="updateTime != null">and update_time = #{updateTime}</if>
            <if test="tenantId != null and tenantId != ''">and tenant_id = #{tenantId}</if>
        </where>
    </delete>

    <update id="updateLogic">
        update flow_definition
        set del_flag = #{logicDeleteValue}
        <where>
            <if test="entity.id != null">and id = #{entity.id}</if>
            <if test="entity.flowCode != null and entity.flowCode != ''">and flow_code = #{entity.flowCode}</if>
            <if test="entity.flowName != null and entity.flowName != ''">and flow_name = #{entity.flowName}</if>
            <if test="entity.category != null and entity.category != ''">and category = #{entity.category}</if>
            <if test="entity.version != null and entity.version != ''">and version = #{entity.version}</if>
            <if test="entity.isPublish != null">and is_publish = #{entity.isPublish}</if>
            <if test="entity.formCustom != null">and form_custom = #{entity.formCustom}</if>
            <if test="entity.formPath != null">and form_path = #{entity.formPath}</if>
            <if test="entity.activityStatus != null">and activity_status = #{entity.activityStatus}</if>
            <if test="entity.listenerType != null and entity.listenerType != ''">and listener_type =
                #{entity.listenerType}
            </if>
            <if test="entity.listenerPath != null and entity.listenerPath != ''">and listener_path =
                #{entity.listenerPath}
            </if>
            <if test="entity.ext != null and entity.ext != ''">and ext = #{entity.ext}</if>
            <if test="entity.createTime != null">and create_time = #{entity.createTime}</if>
            <if test="entity.updateTime != null">and update_time = #{entity.updateTime}</if>
            <if test="entity.tenantId != null and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
            <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and del_flag =
                #{logicNotDeleteValue}
            </if>
        </where>
    </update>

    <insert id="saveBatch" parameterType="org.dromara.warm.flow.orm.entity.FlowDefinition">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <include refid="oracle_insert_batch"/>
            </when>
            <otherwise>
                <include refid="mysql_insert_batch"/>
            </otherwise>
        </choose>
    </insert>
</mapper>
