<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.warm.flow.orm.mapper.FlowTaskMapper">

    <resultMap type="org.dromara.warm.flow.orm.entity.FlowTask" id="FlowTaskResult">
        <result property="id" column="id"/>
        <result property="nodeCode" column="node_code"/>
        <result property="nodeName" column="node_name"/>
        <result property="nodeType" column="node_type"/>
        <result property="flowStatus" column="flow_status"/>
        <result property="definitionId" column="definition_id"/>
        <result property="instanceId" column="instance_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="businessId" column="business_id"/>
        <result property="flowName" column="flow_name"/>
        <result property="formCustom" column="form_custom"/>
        <result property="formPath" column="form_path"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>


    <sql id="selectVo">
        select t.id,
               t.node_code,
               t.node_name,
               t.node_type,
               t.flow_status,
               t.definition_id,
               t.instance_id,
               t.form_custom,
               t.form_path,
               t.create_time,
               t.update_time,
               t.del_flag,
               t.tenant_id
        from flow_task t
    </sql>

    <sql id="paging_end">
        <if test="page !=null and page.pageNum != null and page.pageSize != null">
            LIMIT #{page.pageSize} offset #{page.pageNum}
        </if>
    </sql>

    <sql id="order_by">
        <if test="order != null and order != ''">order by ${order}</if>
    </sql>

    <sql id="select_parameter">
        <where>
            <if test="entity.id != null">and t.id = #{entity.id}</if>
            <if test="entity.nodeCode != null  and entity.nodeCode != ''">and t.node_code = #{entity.nodeCode}</if>
            <if test="entity.nodeName != null  and entity.nodeName != ''">and t.node_name = #{entity.nodeName}</if>
            <if test="entity.nodeType != null">and t.node_type = #{entity.nodeCode}</if>
            <if test="entity.flowStatus != null and entity.flowStatus != ''">and t.flow_status = #{entity.flowStatus}</if>
            <if test="entity.definitionId != null ">and t.definition_id = #{entity.definitionId}</if>
            <if test="entity.instanceId != null ">and t.instance_id = #{entity.instanceId}</if>
            <if test="entity.formCustom != null  and entity.formCustom != ''">and t.form_custom = #{entity.formCustom}</if>
            <if test="entity.formPath != null  and entity.formPath != ''">and t.form_path = #{entity.formPath}</if>
            <if test="entity.createTime != null">and t.create_time = #{entity.createTime}</if>
            <if test="entity.updateTime != null">and t.update_time = #{entity.updateTime}</if>
            <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
            <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        </where>
    </sql>

    <sql id="mysql_insert_batch">
        insert into flow_task(
        id,
        node_code,
        node_name,
        node_type,
        flow_status,
        definition_id,
        instance_id,
        form_custom,
        form_path,
        create_time,
        update_time,
        del_flag,
        tenant_id
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.nodeCode},
            #{item.nodeName},
            #{item.nodeType},
            #{item.flowStatus},
            #{item.definitionId},
            #{item.instanceId},
            #{item.formCustom},
            #{item.formPath},
            #{item.createTime},
            #{item.updateTime},
            #{item.delFlag},
            #{item.tenantId}
            )
        </foreach>
    </sql>

    <sql id="oracle_insert_batch">
        insert into flow_task(
        id,
        node_code,
        node_name,
        node_type,
        flow_status,
        definition_id,
        instance_id,
        form_custom,
        form_path,
        create_time,
        update_time,
        del_flag,
        tenant_id
        )
        <foreach collection="list" item="item" separator=" union all">
            select
            #{item.id},
            #{item.nodeCode},
            #{item.nodeName},
            #{item.nodeType},
            #{item.flowStatus},
            #{item.definitionId},
            #{item.instanceId},
            #{item.formCustom},
            #{item.formPath},
            #{item.createTime},
            #{item.updateTime},
            #{item.delFlag},
            #{item.tenantId}
            from dual
        </foreach>
    </sql>

    <select id="selectCount" parameterType="org.dromara.warm.flow.orm.entity.FlowTask" resultType="java.lang.Long">
        select count(*) from flow_task t
        <include refid="select_parameter"/>
    </select>

    <select id="selectList" parameterType="org.dromara.warm.flow.orm.entity.FlowTask" resultMap="FlowTaskResult">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    SELECT * FROM ( SELECT TMP.*, ROWNUM ROW_ID FROM (
                </if>
                <include refid="includeAll"/>
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    ) TMP WHERE ROWNUM &lt;= #{page.pageSize}) WHERE ROW_ID &gt; #{page.pageNum}
                </if>
            </when>
            <otherwise>
                <include refid="includeAll"/>
                <include refid="paging_end"/>
            </otherwise>
        </choose>
    </select>

    <sql id="includeAll">
        <include refid="selectVo"/>
        <include refid="select_parameter"/>
        <include refid="order_by"/>
    </sql>

    <select id="selectByIds" resultMap="FlowTaskResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="selectById" resultMap="FlowTaskResult">
        <include refid="selectVo"/>
        where t.id = #{id}
        <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="getByInsIdAndNodeCodes" resultMap="FlowTaskResult">
        <include refid="selectVo"/>
        where t.instance_id = #{instanceId}
        AND t.node_code in
        <foreach item="nodeCode" collection="nodeCodes" open="(" separator="," close=")">
            #{nodeCode}
        </foreach>
        <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <insert id="insert" parameterType="org.dromara.warm.flow.orm.entity.FlowTask">
        insert into flow_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="nodeCode != null and nodeCode != ''">node_code,</if>
            <if test="nodeName != null and nodeName != ''">node_name,</if>
            <if test="nodeType != null">node_type,</if>
            <if test="flowStatus != null and flowStatus != ''">flow_status,</if>
            <if test="definitionId != null">definition_id,</if>
            <if test="instanceId != null">instance_id,</if>
            <if test="formCustom != null and formCustom != ''">form_custom,</if>
            <if test="formPath != null and formPath != ''">form_path,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="tenantId != null and tenantId != ''">tenant_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="nodeCode != null and nodeCode != ''">#{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">#{nodeName},</if>
            <if test="nodeType != null">#{nodeType},</if>
            <if test="definitionId != null">#{definitionId},</if>
            <if test="instanceId != null">#{instanceId},</if>
            <if test="formCustom != null and formCustom != ''">#{formCustom},</if>
            <if test="formPath != null and formPath != ''">#{formPath},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="tenantId != null and tenantId != ''">#{tenantId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="org.dromara.warm.flow.orm.entity.FlowTask">
        update flow_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="nodeCode != null and nodeCode != ''">node_code = #{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">node_name = #{nodeName},</if>
            <if test="nodeType != null">node_type = #{nodeType},</if>
            <if test="flowStatus != null and flowStatus != ''">#{flowStatus},</if>
            <if test="definitionId != null">definition_id = #{definitionId},</if>
            <if test="instanceId != null">instance_id = #{instanceId},</if>
            <if test="formCustom != null and formCustom != ''">form_custom = #{formCustom},</if>
            <if test="formPath != null and formPath != ''">form_path = #{formPath},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
        <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
        <if test="tenantId != null  and tenantId != ''">and tenant_id = #{tenantId}</if>
    </update>

    <delete id="deleteById">
        delete
        from flow_task
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdLogic">
        update flow_task
        set del_flag = #{logicDeleteValue}
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and del_flag = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="deleteByInsIds">
        delete from flow_task where instance_id in
        <foreach item="instanceId" collection="instanceIds" open="(" separator="," close=")">
            #{instanceId}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByInsIdsLogic">
        update flow_task
        set del_flag = #{logicDeleteValue}
        where instance_id in
        <foreach item="instanceId" collection="instanceIds" open="(" separator="," close=")">
            #{instanceId}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and del_flag = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="deleteByIds">
        delete from flow_task where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdsLogic">
        update flow_task
        set del_flag = #{logicDeleteValue}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and del_flag = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="delete" parameterType="org.dromara.warm.flow.orm.entity.FlowTask">
        delete from flow_task
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="nodeCode != null and nodeCode != ''">and node_code = #{nodeCode}</if>
            <if test="nodeName != null and nodeName != ''">and node_name = #{nodeName}</if>
            <if test="nodeType != null">and node_type = #{nodeType}</if>
            <if test="flowStatus != null and flowStatus != ''">and flow_status = #{flowStatus}</if>
            <if test="definitionId != null">and definition_id = #{definitionId}</if>
            <if test="instanceId != null">and instance_id = #{instanceId}</if>
            <if test="formCustom != null and formCustom != ''">and form_custom = #{formCustom}</if>
            <if test="formPath != null and formPath != ''">and form_path = #{formPath}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="updateTime != null">and update_time = #{updateTime}</if>
            <if test="tenantId != null and tenantId != ''">and tenant_id = #{tenantId}</if>
        </where>
    </delete>

    <update id="updateLogic">
        update flow_task
        set del_flag = #{logicDeleteValue}
        <where>
            <if test="entity.id != null">and id = #{entity.id}</if>
            <if test="entity.nodeCode != null and entity.nodeCode != ''">and node_code = #{entity.nodeCode}</if>
            <if test="entity.nodeName != null and entity.nodeName != ''">and node_name = #{entity.nodeName}</if>
            <if test="entity.nodeType != null">and node_type = #{entity.nodeType}</if>
            <if test="entity.flowStatus != null and entity.flowStatus != ''">and flow_status = #{entity.flowStatus}</if>
            <if test="entity.definitionId != null">and definition_id = #{entity.definitionId}</if>
            <if test="entity.instanceId != null">and instance_id = #{entity.instanceId}</if>
            <if test="entity.formCustom != null and entity.formCustom != ''">and form_custom = #{entity.formCustom}</if>
            <if test="entity.formPath != null and entity.formPath != ''">and form_path = #{entity.formPath}</if>
            <if test="entity.createTime != null">and create_time = #{entity.createTime}</if>
            <if test="entity.updateTime != null">and update_time = #{entity.updateTime}</if>
            <if test="entity.tenantId != null and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
            <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and del_flag =
                #{logicNotDeleteValue}
            </if>
        </where>
    </update>

    <insert id="saveBatch" parameterType="org.dromara.warm.flow.orm.entity.FlowTask">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <include refid="oracle_insert_batch"/>
            </when>
            <otherwise>
                <include refid="mysql_insert_batch"/>
            </otherwise>
        </choose>
    </insert>
</mapper>
