<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.warm.flow.orm.mapper.FlowNodeMapper">

    <resultMap type="org.dromara.warm.flow.orm.entity.FlowNode" id="FlowNodeResult">
        <result property="id" column="id"/>
        <result property="nodeType" column="node_type"/>
        <result property="definitionId" column="definition_id"/>
        <result property="nodeCode" column="node_code"/>
        <result property="nodeName" column="node_name"/>
        <result property="permissionFlag" column="permission_flag"/>
        <result property="nodeRatio" column="node_ratio"/>
        <result property="coordinate" column="coordinate"/>
        <result property="anyNodeSkip" column="any_node_skip"/>
        <result property="listenerType" column="listener_type"/>
        <result property="listenerPath" column="listener_path"/>
        <result property="handlerType" column="handler_type"/>
        <result property="handlerPath" column="handler_path"/>
        <result property="formCustom" column="form_custom"/>
        <result property="formPath" column="form_path"/>
        <result property="version" column="version"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="ext" column="ext"/>
        <result property="delFlag" column="del_flag"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <sql id="selectVo">
        select t.id,
               t.node_type,
               t.definition_id,
               t.node_code,
               t.node_name,
               t.permission_flag,
               t.node_ratio,
               t.coordinate,
               t.any_node_skip,
               t.listener_type,
               t.listener_path,
               t.handler_type,
               t.handler_path,
               t.form_custom,
               t.form_path,
               t.version,
               t.create_time,
               t.update_time,
               t.ext,
               t.del_flag,
               t.tenant_id
        from flow_node t
    </sql>

    <sql id="paging_end">
        <if test="page !=null and page.pageNum != null and page.pageSize != null">
            LIMIT #{page.pageSize} offset #{page.pageNum}
        </if>
    </sql>

    <sql id="order_by">
        <if test="order != null and order != ''">order by ${order}</if>
    </sql>

    <sql id="select_parameter">
        <where>
            <if test="entity.id != null">and t.id = #{entity.id}</if>
            <if test="entity.nodeType != null">and t.node_type = #{entity.nodeType}</if>
            <if test="entity.definitionId != null">and t.definition_id = #{entity.definitionId}</if>
            <if test="entity.nodeCode != null and entity.nodeCode != ''">and t.node_code = #{entity.nodeCode}</if>
            <if test="entity.nodeName != null and entity.nodeName != ''">and t.node_name = #{entity.nodeName}</if>
            <if test="entity.permissionFlag != null and entity.permissionFlag != ''">and t.permission_flag =
                #{entity.permissionFlag}
            </if>
            <if test="entity.nodeRatio != null">and t.node_ratio = #{entity.nodeRatio}</if>
            <if test="entity.coordinate != null and entity.coordinate != ''">and t.coordinate = #{entity.coordinate}
            </if>
            <if test="entity.anyNodeSkip != null and entity.anyNodeSkip != ''">and t.any_node_skip =
                #{entity.anyNodeSkip}
            </if>
            <if test="entity.listenerType != null and entity.listenerType != ''">and t.listener_type =
                #{entity.listenerType}
            </if>
            <if test="entity.listenerPath != null and entity.listenerPath != ''">and t.listener_path =
                #{entity.listenerPath}
            </if>
            <if test="entity.handlerType != null and entity.handlerType != ''">and t.handler_type = #{entity.handlerType}</if>
            <if test="entity.handlerPath != null and entity.handlerPath != ''">and t.handler_path = #{entity.handlerPath}</if>
            <if test="entity.formCustom != null and entity.formCustom != ''">and t.form_custom = #{entity.formCustom}</if>
            <if test="entity.formPath != null and entity.formPath != ''">and t.form_path = #{entity.formPath}</if>
            <if test="entity.version != null and entity.version != ''">and t.version = #{entity.version}</if>
            <if test="entity.createTime != null">and t.create_time = #{entity.createTime}</if>
            <if test="entity.updateTime != null">and t.update_time = #{entity.updateTime}</if>
            <if test="entity.ext != null">and t.ext = #{entity.ext}</if>
            <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
            <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
        </where>
    </sql>

    <sql id="mysql_insert_batch">
        insert into flow_node(
        id,
        node_type,
        definition_id,
        node_code,
        node_name,
        permission_flag,
        node_ratio,
        coordinate,
        any_node_skip,
        listener_type,
        listener_path,
        handler_type,
        handler_path,
        form_custom,
        form_path,
        version,
        create_time,
        update_time,
        ext,
        del_flag,
        tenant_id
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.nodeType},
            #{item.definitionId},
            #{item.nodeCode},
            #{item.nodeName},
            #{item.permissionFlag},
            #{item.nodeRatio},
            #{item.coordinate},
            #{item.anyNodeSkip},
            #{item.listenerType},
            #{item.listenerPath},
            #{item.handlerType},
            #{item.handlerPath},
            #{item.formCustom},
            #{item.formPath},
            #{item.version},
            #{item.createTime},
            #{item.updateTime},
            #{item.ext},
            #{item.delFlag},
            #{item.tenantId}
            )
        </foreach>
    </sql>

    <sql id="oracle_insert_batch">
        insert
        into
        flow_node(
        id,
        node_type,
        definition_id,
        node_code,
        node_name,
        permission_flag,
        node_ratio,
        coordinate,
        any_node_skip,
        listener_type,
        listener_path,
        handler_type,
        handler_path,
        form_custom,
        form_path,
        version,
        create_time,
        update_time,
        ext,
        del_flag,
        tenant_id
        )
        <foreach collection="list" item="item" separator=" union all">
            select
            #{item.id},
            #{item.nodeType},
            #{item.definitionId},
            #{item.nodeCode},
            #{item.nodeName},
            #{item.permissionFlag},
            #{item.nodeRatio},
            #{item.coordinate},
            #{item.anyNodeSkip},
            #{item.listenerType},
            #{item.listenerPath},
            #{item.handlerType},
            #{item.handlerPath},
            #{item.formCustom},
            #{item.formPath},
            #{item.version},
            #{item.createTime},
            #{item.updateTime},
            #{item.ext},
            #{item.delFlag},
            #{item.tenantId}
            from dual
        </foreach>
    </sql>

    <select id="selectCount" parameterType="org.dromara.warm.flow.orm.entity.FlowNode" resultType="java.lang.Long">
        select count(*) from flow_node t
        <include refid="select_parameter"/>
    </select>

    <select id="selectList" parameterType="org.dromara.warm.flow.orm.entity.FlowNode" resultMap="FlowNodeResult">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    SELECT * FROM ( SELECT TMP.*, ROWNUM ROW_ID FROM (
                </if>
                <include refid="includeAll"/>
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    ) TMP WHERE ROWNUM &lt;= #{page.pageSize}) WHERE ROW_ID &gt; #{page.pageNum}
                </if>
            </when>
            <otherwise>
                <include refid="includeAll"/>
                <include refid="paging_end"/>
            </otherwise>
        </choose>
    </select>

    <sql id="includeAll">
        <include refid="selectVo"/>
        <include refid="select_parameter"/>
        <include refid="order_by"/>
    </sql>

    <select id="selectByIds" resultMap="FlowNodeResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="selectById" resultMap="FlowNodeResult">
        <include refid="selectVo"/>
        where t.id = #{id}
        <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="getByNodeCodes" resultMap="FlowNodeResult">
        <include refid="selectVo"/>
        where t.definition_id = #{definitionId}
        <if test="nodeCodes != null and nodeCodes.size() > 0">
            and t.node_code in
            <foreach item="item" collection="nodeCodes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <insert id="insert" parameterType="org.dromara.warm.flow.orm.entity.FlowNode">
        insert into flow_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="nodeType != null">node_type,</if>
            <if test="definitionId != null">definition_id,</if>
            <if test="nodeCode != null and nodeCode != ''">node_code,</if>
            <if test="nodeName != null and nodeName != ''">node_name,
                <if test="permissionFlag != null and permissionFlag != ''">permission_flag,</if>
            </if>
            <if test="nodeRatio != null">node_ratio,</if>
            <if test="coordinate != null and coordinate != ''">coordinate,</if>
            <if test="anyNodeSkip != null and anyNodeSkip != ''">any_node_skip,</if>
            <if test="listenerType != null and listenerType != ''">listener_type,</if>
            <if test="listenerPath != null and listenerPath != ''">listener_path,</if>
            <if test="handlerType != null and handlerType != ''">handler_type,</if>
            <if test="handlerPath != null and handlerPath != ''">handler_path,</if>
            <if test="formCustom != null and formCustom != ''">form_custom,</if>
            <if test="formPath != null and formPath != ''">form_path,</if>
            <if test="version != null and version != ''">version,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="ext != null">ext,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="tenantId != null and tenantId != ''">tenant_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="nodeType != null">#{nodeType},</if>
            <if test="definitionId != null">#{definitionId},</if>
            <if test="nodeCode != null and nodeCode != ''">#{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">#{nodeName},
                <if test="permissionFlag != null and permissionFlag != ''">#{permissionFlag},</if>
            </if>
            <if test="nodeRatio != null">#{nodeRatio},</if>
            <if test="coordinate != null and coordinate != ''">#{coordinate},</if>
            <if test="anyNodeSkip != null and anyNodeSkip != ''">#{anyNodeSkip},</if>
            <if test="listenerType != null and listenerType != ''">#{listenerType},</if>
            <if test="listenerPath != null and listenerPath != ''">#{listenerPath},</if>
            <if test="handlerType != null and handlerType != ''">#{handlerType},</if>
            <if test="handlerPath != null and handlerPath != ''">#{handlerPath},</if>
            <if test="formCustom != null and formCustom != ''">#{formCustom},</if>
            <if test="formPath != null and formPath != ''">#{formPath},</if>
            <if test="version != null and version != ''">#{version},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="ext != null">#{ext},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="tenantId != null and tenantId != ''">#{tenantId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="org.dromara.warm.flow.orm.entity.FlowNode">
        update flow_node
        <trim prefix="SET" suffixOverrides=",">
            <if test="nodeType != null">node_type = #{nodeType},</if>
            <if test="definitionId != null">definition_id = #{definitionId},</if>
            <if test="nodeCode != null and nodeCode != ''">node_code = #{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">node_name = #{nodeName},</if>
            <if test="permissionFlag != null and permissionFlag != ''">permission_flag = #{permissionFlag},</if>
            <if test="nodeRatio != null">node_ratio = #{nodeRatio},</if>
            <if test="coordinate != null and coordinate != ''">coordinate = #{coordinate},</if>
            <if test="anyNodeSkip != null and anyNodeSkip != ''">any_node_skip = #{anyNodeSkip},</if>
            <if test="listenerType != null and listenerType != ''">listener_type = #{listenerType},</if>
            <if test="listenerPath != null and listenerPath != ''">listener_path = #{listenerPath},</if>
            <if test="handlerType != null and handlerType != ''">handler_type = #{handlerType},</if>
            <if test="handlerPath != null and handlerPath != ''">handler_path = #{handlerPath},</if>
            <if test="formCustom != null and formCustom != ''">form_custom = #{formCustom},</if>
            <if test="formPath != null and formPath != ''">form_path = #{formPath},</if>
            <if test="version != null and version != ''">version = #{version},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="ext != null">ext = #{ext},</if>
        </trim>
        where id = #{id}
        <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
        <if test="tenantId != null  and tenantId != ''">and tenant_id = #{tenantId}</if>
    </update>

    <delete id="deleteById">
        delete
        from flow_node
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdLogic">
        update flow_node
        set del_flag = #{logicDeleteValue}
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and del_flag = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="deleteByIds">
        delete from flow_node where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdsLogic">
        update flow_node
        set del_flag = #{logicDeleteValue}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and del_flag = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="delete" parameterType="org.dromara.warm.flow.orm.entity.FlowNode">
        delete from flow_node
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="nodeType != null">and node_type = #{nodeType}</if>
            <if test="definitionId != null">and definition_id = #{definitionId}</if>
            <if test="nodeCode != null and nodeCode != ''">and node_code = #{nodeCode}</if>
            <if test="nodeName != null and nodeName != ''">and node_name = #{nodeName}</if>
            <if test="permissionFlag != null and permissionFlag != ''">and permission_flag = #{permissionFlag}</if>
            <if test="nodeRatio != null">and node_ratio = #{nodeRatio}</if>
            <if test="coordinate != null and coordinate != ''">and coordinate = #{coordinate}</if>
            <if test="anyNodeSkip != null and anyNodeSkip != ''">and any_node_skip = #{anyNodeSkip}</if>
            <if test="listenerType != null and listenerType != ''">and listener_type = #{listenerType}</if>
            <if test="listenerPath != null and listenerPath != ''">and listener_path = #{listenerPath}</if>
            <if test="handlerType != null and handlerType != ''">and handler_type = #{handlerType},</if>
            <if test="handlerPath != null and handlerPath != ''">and handler_path = #{handlerPath},</if>
            <if test="formCustom != null and formCustom != ''">and form_custom = #{formCustom},</if>
            <if test="formPath != null and formPath != ''">and form_path = #{formPath},</if>
            <if test="version != null and version != ''">and version = #{version}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="updateTime != null">and update_time = #{updateTime}</if>
            <if test="ext != null">and ext = #{ext}</if>
            <if test="tenantId != null and tenantId != ''">and tenant_id = #{tenantId}</if>
        </where>
    </delete>

    <update id="updateLogic">
        update flow_node
        set del_flag = #{logicDeleteValue}
        <where>
            <if test="entity.id != null">and id = #{entity.id}</if>
            <if test="entity.nodeType != null">and node_type = #{entity.nodeType}</if>
            <if test="entity.definitionId != null">and definition_id = #{entity.definitionId}</if>
            <if test="entity.nodeCode != null and entity.nodeCode != ''">and node_code = #{entity.nodeCode}</if>
            <if test="entity.nodeName != null and entity.nodeName != ''">and node_name = #{entity.nodeName}</if>
            <if test="entity.permissionFlag != null and entity.permissionFlag != ''">and permission_flag =
                #{entity.permissionFlag}
            </if>
            <if test="entity.nodeRatio != null">and node_ratio = #{entity.nodeRatio}</if>
            <if test="entity.coordinate != null and entity.coordinate != ''">and coordinate = #{entity.coordinate}
            </if>
            <if test="entity.anyNodeSkip != null and entity.anyNodeSkip != ''">and any_node_skip =
                #{entity.anyNodeSkip}
            </if>
            <if test="entity.listenerType != null and entity.listenerType != ''">and listener_type =
                #{entity.listenerType}
            </if>
            <if test="entity.listenerPath != null and entity.listenerPath != ''">and listener_path =
                #{entity.listenerPath}
            </if>
            <if test="entity.handlerType != null and entity.handlerType != ''">and handler_type =
                #{entity.handlerType}
            </if>
            <if test="entity.handlerPath != null and entity.handlerPath != ''">and handler_path =
                #{entity.handlerPath}
            </if>
            <if test="entity.formCustom != null and entity.formCustom != ''">and form_custom = #{entity.formCustom}</if>
            <if test="entity.formPath != null and entity.formPath != ''">and form_path = #{entity.formPath}</if>
            <if test="entity.version != null and entity.version != ''">and version = #{entity.version}</if>
            <if test="entity.createTime != null">and create_time = #{entity.createTime}</if>
            <if test="entity.updateTime != null">and update_time = #{entity.updateTime}</if>
            <if test="entity.ext != null">and ext = #{entity.ext}</if>
            <if test="entity.tenantId != null and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
            <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and del_flag =
                #{logicNotDeleteValue}
            </if>
        </where>
    </update>

    <delete id="deleteNodeByDefIds">
        delete from flow_node where definition_id in
        <foreach item="definitionId" collection="defIds" open="(" separator="," close=")">
            #{definitionId}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateNodeByDefIdsLogic">
        update flow_node
        set del_flag = #{logicDeleteValue}
        where definition_id in
        <foreach item="definitionId" collection="defIds" open="(" separator="," close=")">
            #{definitionId}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and del_flag = #{logicNotDeleteValue}
        </if>
    </update>

    <insert id="saveBatch" parameterType="org.dromara.warm.flow.orm.entity.FlowNode">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <include refid="oracle_insert_batch"/>
            </when>
            <otherwise>
                <include refid="mysql_insert_batch"/>
            </otherwise>
        </choose>
    </insert>
</mapper>
