<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.flow.orm.mapper.FlowSkipMapper">

    <resultMap type="com.warm.flow.orm.entity.FlowSkip" id="FlowSkipResult">
        <result property="id" column="id"/>
        <result property="definitionId" column="definition_id"/>
        <result property="nowNodeCode" column="now_node_code"/>
        <result property="nowNodeType" column="now_node_type"/>
        <result property="nextNodeCode" column="next_node_code"/>
        <result property="nextNodeType" column="next_node_type"/>
        <result property="skipName" column="skip_name"/>
        <result property="skipType" column="skip_type"/>
        <result property="skipCondition" column="skip_condition"/>
        <result property="coordinate" column="coordinate"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectVo">
        select t.id,
               t.definition_id,
               t.now_node_code,
               t.now_node_type,
               t.next_node_code,
               t.next_node_type,
               t.skip_name,
               t.skip_type,
               t.skip_condition,
               t.coordinate,
               t.create_time,
               t.update_time
        from flow_skip t
    </sql>

    <sql id="paging_end">
        <if test="page !=null and page.pageNum != null and page.pageSize != null">LIMIT
            #{page.pageNum},#{page.pageSize}
        </if>
    </sql>

    <sql id="order_by">
        <if test="order != null and order != ''">order by ${order}</if>
    </sql>

    <sql id="select_parameter">
        <where>
            <if test="entity.definitionId != null">and t.definition_id = #{entity.definitionId}</if>
            <if test="entity.nowNodeCode != null">and t.now_node_code = #{entity.nowNodeCode}</if>
            <if test="entity.nextNodeCode != null and entity.nextNodeCode != ''">and t.next_node_code =
                #{entity.nextNodeCode}
            </if>
            <if test="entity.skipType != null and entity.skipType != ''">and t.skip_type =
                #{entity.skipType}
            </if>
        </where>
    </sql>

    <select id="selectCount" parameterType="com.warm.flow.orm.entity.FlowSkip" resultType="java.lang.Long">
        select count(*) from flow_skip t
        <include refid="select_parameter"/>
    </select>

    <select id="selectList" parameterType="com.warm.flow.orm.entity.FlowSkip" resultMap="FlowSkipResult">
        <include refid="selectVo"/>
        <include refid="select_parameter"/>
        <include refid="order_by"/>
        <include refid="paging_end"/>
    </select>

    <select id="selectByIds" parameterType="Long" resultMap="FlowSkipResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectById" parameterType="Long" resultMap="FlowSkipResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <select id="queryByDefAndCode" resultMap="FlowSkipResult">
        <include refid="selectVo"/>
        where t.definition_id = #{definitionId} and t.now_node_code = #{nowNodeCode}

    </select>

    <insert id="insert" parameterType="com.warm.flow.orm.entity.FlowSkip">
        insert into flow_skip
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="definitionId != null">definition_id,</if>
            <if test="nowNodeCode != null and nowNodeCode != ''">now_node_code,</if>
            <if test="nowNodeType != null">now_node_type,</if>
            <if test="nextNodeCode != null and nextNodeCode != ''">next_node_code,</if>
            <if test="nextNodeType != null">next_node_type,</if>
            <if test="skipName != null and skipName != ''">skip_name,</if>
            <if test="skipType != null">skip_type,</if>
            <if test="skipCondition != null">skip_condition,</if>
            <if test="coordinate != null and coordinate != ''">coordinate,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="definitionId != null">#{definitionId},</if>
            <if test="nowNodeCode != null and nowNodeCode != ''">#{nowNodeCode},</if>
            <if test="nowNodeType != null">#{nowNodeType},</if>
            <if test="nextNodeCode != null and nextNodeCode != ''">#{nextNodeCode},</if>
            <if test="nextNodeType != null">#{nextNodeType},</if>
            <if test="skipName != null">#{skipName},</if>
            <if test="skipType != null">#{skipType},</if>
            <if test="skipCondition != null">#{skipCondition},</if>
            <if test="coordinate != null and coordinate != ''">#{coordinate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.warm.flow.orm.entity.FlowSkip">
        update flow_skip
        <trim prefix="SET" suffixOverrides=",">
            <if test="definitionId != null">definition_id = #{definitionId},</if>
            <if test="nowNodeCode != null and nowNodeCode != ''">now_node_code = #{nowNodeCode},</if>
            <if test="nowNodeType != null">now_node_type = #{nowNodeType},</if>
            <if test="nextNodeCode != null and nextNodeCode != ''">next_node_code = #{nextNodeCode},</if>
            <if test="nextNodeType != null">next_node_type = #{nextNodeType},</if>
            <if test="skipName != null">skip_name = #{skipName},</if>
            <if test="skipType != null">skip_type = #{skipType},</if>
            <if test="skipCondition != null">skip_condition = #{skipCondition},</if>
            <if test="coordinate != null and coordinate != ''">coordinate = #{coordinate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete
        from flow_skip
        where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="Long">
        delete from flow_skip where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <delete id="delete" parameterType="com.warm.flow.orm.entity.FlowSkip">
        delete from flow_skip
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="definitionId != null">and definition_id = #{definitionId}</if>
            <if test="nowNodeCode != null and nowNodeCode != ''">and now_node_code = #{nowNodeCode}</if>
            <if test="nowNodeType != null">and now_node_type = #{nowNodeType}</if>
            <if test="nextNodeCode != null and nextNodeCode != ''">and next_node_code = #{nextNodeCode}</if>
            <if test="nextNodeType != null">and next_node_type = #{nextNodeType}</if>
            <if test="skipName != null">and skip_name = #{skipName}</if>
            <if test="skipType != null">and skip_type = #{skipType}</if>
            <if test="coordinate != null and coordinate != ''">and coordinate = #{coordinate}</if>
            <if test="skipCondition != null">and skip_condition = #{skipCondition}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="updateTime != null">and update_time = #{updateTime}</if>
        </where>
    </delete>
</mapper>
