<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.flow.orm.mapper.FlowTaskMapper">

    <resultMap type="com.warm.flow.orm.entity.FlowTask" id="FlowTaskResult">
        <result property="id" column="id"/>
        <result property="nodeCode" column="node_code"/>
        <result property="nodeName" column="node_name"/>
        <result property="nodeType" column="node_type"/>
        <result property="approver" column="approver"/>
        <result property="definitionId" column="definition_id"/>
        <result property="instanceId" column="instance_id"/>
        <result property="flowStatus" column="flow_status"/>
        <result property="permissionFlag" column="permission_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="businessId" column="business_id"/>
        <result property="flowName" column="flow_name"/>
        <result property="fromCustom" column="from_custom"/>
        <result property="fromPath" column="from_path"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>


    <sql id="selectVo">
        select t.id,
               t.node_code,
               t.node_name,
               t.node_type,
               t.approver,
               t.definition_id,
               t.permission_flag,
               t.instance_id,
               t.flow_status,
               t.create_time,
               t.update_time,
               t.del_flag,
               t.tenant_id
        from flow_task t
    </sql>

    <sql id="paging_end">
        <if test="page !=null and page.pageNum != null and page.pageSize != null">LIMIT
            #{page.pageNum},#{page.pageSize}
        </if>
    </sql>

    <sql id="order_by">
        <if test="order != null and order != ''">order by ${order}</if>
    </sql>

    <sql id="select_parameter">
        <where>
            <if test="entity.id != null">and t.id = #{entity.id}</if>
            <if test="entity.nodeCode != null  and entity.nodeCode != ''">and t.node_code = #{entity.nodeCode}</if>
            <if test="entity.nodeName != null  and entity.nodeName != ''">and t.node_name = #{entity.nodeName}</if>
            <if test="entity.nodeType != null">and t.node_type = #{entity.nodeCode}</if>
            <if test="entity.approver != null  and entity.approver != ''">and t.approver = #{entity.approver}</if>
            <if test="entity.definitionId != null ">and t.definition_id = #{entity.definitionId}</if>
            <if test="entity.instanceId != null ">and t.instance_id = #{entity.instanceId}</if>
            <if test="entity.flowStatus != null">and t.flow_status = #{entity.flowStatus}</if>
            <if test="entity.permissionFlag != null">and t.permission_flag = #{entity.permissionFlag}</if>
            <if test="entity.createTime != null">and t.create_time = #{entity.createTime}</if>
            <if test="entity.updateTime != null">and t.update_time = #{entity.updateTime}</if>
            <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
            <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        </where>
    </sql>

    <select id="selectCount" parameterType="com.warm.flow.orm.entity.FlowTask" resultType="java.lang.Long">
        select count(*) from flow_task t
        <include refid="select_parameter"/>
    </select>

    <select id="selectList" parameterType="com.warm.flow.orm.entity.FlowTask" resultMap="FlowTaskResult">
        <include refid="selectVo"/>
        <include refid="select_parameter"/>
        <include refid="order_by"/>
        <include refid="paging_end"/>
    </select>

    <select id="selectByIds" resultMap="FlowTaskResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="selectById" resultMap="FlowTaskResult">
        <include refid="selectVo"/>
        where t.id = #{id}
        <if test="entity.delFlag != null  and entity.delFlag != ''">and t.del_flag = #{entity.delFlag}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <insert id="insert" parameterType="com.warm.flow.orm.entity.FlowTask">
        insert into flow_task t
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">t.id,</if>
            <if test="nodeCode != null and nodeCode != ''">t.node_code,</if>
            <if test="nodeName != null and nodeName != ''">t.node_name,</if>
            <if test="nodeType != null">t.node_type,</if>
            <if test="approver != null and approver != ''">t.approver,</if>
            <if test="definitionId != null">t.definition_id,</if>
            <if test="instanceId != null">t.instance_id,</if>
            <if test="flowStatus != null">t.flow_status,</if>
            <if test="permissionFlag != null">t.permission_flag,</if>
            <if test="createTime != null">t.create_time,</if>
            <if test="updateTime != null">t.update_time,</if>
            <if test="tenantId != null and tenantId != ''">t.tenant_id,</if>
            <if test="delFlag != null and delFlag != ''">t.del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="nodeCode != null and nodeCode != ''">#{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">#{nodeName},</if>
            <if test="nodeType != null">#{nodeType},</if>
            <if test="approver != null and approver != ''">#{approver},</if>
            <if test="definitionId != null">#{definitionId},</if>
            <if test="instanceId != null">#{instanceId},</if>
            <if test="flowStatus != null">#{flowStatus},</if>
            <if test="permissionFlag != null">#{permissionFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="tenantId != null and tenantId != ''">#{tenantId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.warm.flow.orm.entity.FlowTask">
        update flow_task t
        <trim prefix="SET" suffixOverrides=",">
            <if test="nodeCode != null and nodeCode != ''">t.node_code = #{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">t.node_name = #{nodeName},</if>
            <if test="nodeType != null">t.node_type = #{nodeType},</if>
            <if test="approver != null and approver != ''">t.approver = #{approver},</if>
            <if test="definitionId != null">t.definition_id = #{definitionId},</if>
            <if test="instanceId != null">t.instance_id = #{instanceId},</if>
            <if test="flowStatus != null">t.flow_status = #{flowStatus},</if>
            <if test="permissionFlag != null">t.permission_flag = #{permissionFlag},</if>
            <if test="createTime != null">t.create_time = #{createTime},</if>
            <if test="updateTime != null">t.update_time = #{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">t.del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from flow_task t
        where t.id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdLogic">
        update flow_task t
        set t.del_flag = #{logicDeleteValue}
        where t.id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and t.del_flag = #{logicNotDeleteValue}</if>
    </update>

    <delete id="deleteByInsIds">
        delete from flow_task t where t.instance_id in
        <foreach item="instanceId" collection="instanceIds" open="(" separator="," close=")">
            #{instanceId}
        </foreach>
    </delete>

    <update id="updateByInsIdsLogic">
        update flow_task t
        set t.del_flag = #{logicDeleteValue}
        where t.instance_id in
        <foreach item="instanceId" collection="instanceIds" open="(" separator="," close=")">
            #{instanceId}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and t.del_flag = #{logicNotDeleteValue}</if>
    </update>

    <delete id="deleteByIds">
        delete from flow_task t where t.id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdsLogic">
        update flow_task t
        set t.del_flag = #{logicDeleteValue}
        where t.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and t.del_flag = #{logicNotDeleteValue}</if>
    </update>

    <delete id="delete" parameterType="com.warm.flow.orm.entity.FlowTask">
        delete from flow_task t
        <where>
            <if test="id != null">and t.id = #{id}</if>
            <if test="nodeCode != null and nodeCode != ''">and t.node_code = #{nodeCode}</if>
            <if test="nodeName != null and nodeName != ''">and t.node_name = #{nodeName}</if>
            <if test="nodeType != null">and t.node_type = #{nodeType}</if>
            <if test="approver != null and approver != ''">and t.approver = #{approver}</if>
            <if test="definitionId != null">and t.definition_id = #{definitionId}</if>
            <if test="instanceId != null">and t.instance_id = #{instanceId}</if>
            <if test="flowStatus != null">and t.flow_status = #{flowStatus}</if>
            <if test="permissionFlag != null">and t.permission_flag = #{permissionFlag}</if>
            <if test="createTime != null">and t.create_time = #{createTime}</if>
            <if test="updateTime != null">and t.update_time = #{updateTime}</if>
            <if test="tenantId != null and tenantId != ''">and t.tenant_id = #{tenantId}</if>
        </where>
    </delete>

    <update id="updateLogic">
        update flow_task t
        set t.del_flag = #{logicDeleteValue}
        <where>
            <if test="id != null">and t.id = #{id}</if>
            <if test="nodeCode != null and nodeCode != ''">and t.node_code = #{nodeCode}</if>
            <if test="nodeName != null and nodeName != ''">and t.node_name = #{nodeName}</if>
            <if test="nodeType != null">and t.node_type = #{nodeType}</if>
            <if test="approver != null and approver != ''">and t.approver = #{approver}</if>
            <if test="definitionId != null">and t.definition_id = #{definitionId}</if>
            <if test="instanceId != null">and t.instance_id = #{instanceId}</if>
            <if test="flowStatus != null">and t.flow_status = #{flowStatus}</if>
            <if test="permissionFlag != null">and t.permission_flag = #{permissionFlag}</if>
            <if test="createTime != null">and t.create_time = #{createTime}</if>
            <if test="updateTime != null">and t.update_time = #{updateTime}</if>
            <if test="tenantId != null and tenantId != ''">and t.tenant_id = #{tenantId}</if>
            <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and t.del_flag = #{logicNotDeleteValue}</if>
        </where>
    </update>
</mapper>
