<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.flow.orm.mapper.FlowInstanceMapper">

    <resultMap type="com.warm.flow.orm.entity.FlowInstance" id="FlowInstanceResult">
        <result property="id" column="id"/>
        <result property="businessId" column="business_id"/>
        <result property="definitionId" column="definition_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="flowName" column="flow_name"/>
        <result property="nodeType" column="node_type"/>
        <result property="nodeCode" column="node_code"/>
        <result property="nodeName" column="node_name"/>
        <result property="variable" column="variable"/>
        <result property="flowStatus" column="flow_status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="ext" column="ext"/>
    </resultMap>

    <sql id="selectVo">
        select t.id,
               t.business_id,
               t.definition_id,
               t.tenant_id,
               t.node_type,
               t.node_code,
               t.node_name,
               t.variable,
               t.flow_status,
               t.create_by,
               t.create_time,
               t.update_time,
               t.ext
        from flow_instance t
    </sql>

    <sql id="paging_end">
        <if test="page !=null and page.pageNum != null and page.pageSize != null">LIMIT
            #{page.pageNum},#{page.pageSize}
        </if>
    </sql>

    <sql id="order_by">
        <if test="order != null and order != ''">order by ${order}</if>
    </sql>

    <sql id="select_parameter">
        <where>
            <if test="entity.businessId != null  and entity.businessId != ''">and t.business_id = #{entity.businessId}
            </if>
            <if test="entity.definitionId != null ">and t.definition_id = #{entity.definitionId}</if>
            <if test="entity.tenantId != null ">and t.tenant_id = #{tenantId}</if>
            <if test="entity.createBy != null  and entity.createBy != ''">and t.create_by = #{entity.createBy}</if>
        </where>
    </sql>

    <select id="selectCount" parameterType="com.warm.flow.orm.entity.FlowInstance" resultType="java.lang.Long">
        select count(*) from flow_instance t
        <include refid="select_parameter"/>
    </select>

    <select id="selectList" parameterType="com.warm.flow.orm.entity.FlowInstance"
            resultMap="FlowInstanceResult">
        <include refid="selectVo"/>
        <include refid="select_parameter"/>
        <include refid="order_by"/>
        <include refid="paging_end"/>
    </select>

    <select id="selectByIds" parameterType="Long" resultMap="FlowInstanceResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectById" parameterType="Long" resultMap="FlowInstanceResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <select id="getByIdWithLock" resultMap="FlowInstanceResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        for update
    </select>

    <insert id="insert" parameterType="com.warm.flow.orm.entity.FlowInstance">
        insert into flow_instance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="businessId != null and businessId != ''">business_id,</if>
            <if test="definitionId != null">definition_id,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="nodeCode != null and nodeCode != ''">node_code,</if>
            <if test="nodeName != null and nodeName != ''">node_name,</if>
            <if test="nodeType != null">node_type,</if>
            <if test="variable != null">variable,</if>
            <if test="flowStatus != null">flow_status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="ext != null">ext,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="businessId != null and businessId != ''">#{businessId},</if>
            <if test="definitionId != null">#{definitionId},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="nodeCode != null and nodeCode != ''">#{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">#{nodeName},</if>
            <if test="nodeType != null">#{nodeType},</if>
            <if test="variable != null">#{variable},</if>
            <if test="flowStatus != null">#{flowStatus},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="ext != null">#{ext},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.warm.flow.orm.entity.FlowInstance">
        update flow_instance
        <trim prefix="SET" suffixOverrides=",">
            <if test="businessId != null and businessId != ''">business_id = #{businessId},</if>
            <if test="definitionId != null">definition_id = #{definitionId},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="nodeType != null">node_type = #{nodeType},</if>
            <if test="nodeCode != null and nodeCode != ''">node_code = #{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">node_name = #{nodeName},</if>
            <if test="variable != null">variable = #{variable},</if>
            <if test="flowStatus != null">flow_status = #{flowStatus},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="ext != null">ext = #{ext},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete
        from flow_instance
        where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="Long">
        delete from flow_instance where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delete" parameterType="com.warm.flow.orm.entity.FlowInstance">
        delete from flow_instance
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="businessId != null and businessId != ''">and business_id = #{businessId}</if>
            <if test="definitionId != null">and definition_id = #{definitionId}</if>
            <if test="tenantId != null">and tenant_id = #{tenantId}</if>
            <if test="nodeCode != null and nodeCode != ''">and node_code = #{nodeCode}</if>
            <if test="nodeName != null and nodeName != ''">and node_name = #{nodeName}</if>
            <if test="nodeType != null">and node_type = #{nodeType}</if>
            <if test="flowStatus != null">and flow_status = #{flowStatus}</if>
            <if test="variable != null">and flow_status = #{variable}</if>
            <if test="createBy != null and createBy != ''">and create_by = #{createBy}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="updateTime != null">and update_time = #{updateTime}</if>
            <if test="ext != null">and ext = #{ext}</if>
        </where>
    </delete>
</mapper>
