<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monkey.flow.core.mapper.FlowInstanceMapper">

    <resultMap type="com.monkey.flow.core.domain.entity.FlowInstance" id="FlowInstanceResult">
        <result property="id"    column="id"    />
        <result property="businessId"    column="business_id"    />
        <result property="definitionId"    column="definition_id"    />
        <result property="flowName"    column="flow_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="ext"    column="ext"    />
    </resultMap>

    <sql id="selectVo">
        select t.id, t.business_id, t.definition_id, t.create_by, t.create_time, t.update_time, t.ext from flow_instance t
    </sql>

    <sql id="paging_end">
        <if test="page !=null and page.pageNum != null and page.pageSize != null">LIMIT #{page.pageNum},#{page.pageSize}</if>
    </sql>

    <sql id="order_by">
        <if test="order != null and order != ''">order by ${order}</if>
    </sql>

    <sql id="select_parameter">
        <where>
            <if test="entity.businessId != null  and entity.businessId != ''"> and t.business_id = #{entity.businessId}</if>
            <if test="entity.definitionId != null "> and t.definition_id = #{entity.definitionId}</if>
            <if test="entity.createBy != null  and entity.createBy != ''"> and t.create_by = #{entity.createBy}</if>
        </where>
    </sql>

    <select id="selectCount" parameterType="com.monkey.flow.core.domain.entity.FlowInstance" resultType="java.lang.Long">
        select count(*) from flow_instance t
        <include refid="select_parameter"/>
    </select>

    <select id="selectList" parameterType="com.monkey.flow.core.domain.entity.FlowInstance" resultMap="FlowInstanceResult">
        <include refid="selectVo"/>
        <include refid="select_parameter"/>
        <include refid="order_by"/>
        <include refid="paging_end"/>
    </select>

    <select id="selectByIds" parameterType="Long" resultMap="FlowInstanceResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectById" parameterType="Long" resultMap="FlowInstanceResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <select id="getByIdWithLock" resultMap="FlowInstanceResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        for update
    </select>

    <insert id="insert" parameterType="com.monkey.flow.core.domain.entity.FlowInstance">
        insert into flow_instance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="businessId != null and businessId != ''">business_id,</if>
            <if test="definitionId != null">definition_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="ext != null">ext,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="businessId != null and businessId != ''">#{businessId},</if>
            <if test="definitionId != null">#{definitionId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="ext != null">#{ext},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.monkey.flow.core.domain.entity.FlowInstance">
        update flow_instance
        <trim prefix="SET" suffixOverrides=",">
            <if test="businessId != null and businessId != ''">business_id = #{businessId},</if>
            <if test="definitionId != null">definition_id = #{definitionId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="ext != null">ext = #{ext},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from flow_instance where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="Long">
        delete from flow_instance where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
