<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.flow.orm.mapper.FlowInstanceMapper">

    <resultMap type="com.warm.flow.orm.entity.FlowInstance" id="FlowInstanceResult">
        <result property="id" column="id"/>
        <result property="businessId" column="business_id"/>
        <result property="definitionId" column="definition_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="flowName" column="flow_name"/>
        <result property="nodeType" column="node_type"/>
        <result property="nodeCode" column="node_code"/>
        <result property="nodeName" column="node_name"/>
        <result property="variable" column="variable"/>
        <result property="flowStatus" column="flow_status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="ext" column="ext"/>
    </resultMap>

    <sql id="selectVo">
        select t.id,
               t.business_id,
               t.definition_id,
               t.tenant_id,
               t.node_type,
               t.node_code,
               t.node_name,
               t.variable,
               t.flow_status,
               t.create_by,
               t.create_time,
               t.update_time,
               t.ext
        from flow_instance t
    </sql>

</mapper>
