<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.flow.orm.mapper.FlowHisTaskMapper">

    <resultMap type="com.warm.flow.orm.entity.FlowHisTask" id="FlowHisTaskResult">
        <result property="id" column="id"/>
        <result property="nodeCode" column="node_code"/>
        <result property="nodeName" column="node_name"/>
        <result property="nodeType" column="node_type"/>
        <result property="targetNodeCode" column="target_node_code"/>
        <result property="targetNodeName" column="target_node_name"/>
        <result property="approver" column="approver"/>
        <result property="definitionId" column="definition_id"/>
        <result property="instanceId" column="instance_id"/>
        <result property="flowStatus" column="flow_status"/>
        <result property="permissionFlag" column="permission_flag"/>
        <result property="message" column="message"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="businessId" column="business_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="flowName" column="flow_name"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <sql id="selectVo">
        select t.id,
               t.node_code,
               t.node_name,
               t.node_type,
               t.target_node_code,
               t.target_node_name,
               t.approver,
               t.definition_id,
               t.permission_flag,
               t.instance_id,
               t.flow_status,
               t.message,
               t.create_time,
               t.update_time,
               t.tenant_id
        from flow_his_task t
    </sql>

    <select id="getNoReject" resultMap="FlowHisTaskResult">
        <include refid="selectVo"/>
        where t.node_code = #{nodeCode}
        and t.instance_id = #{instanceId}
        and t.flow_status <![CDATA[ <> ]]> 9
        order by t.create_time desc
    </select>

    <delete id="deleteByInsIds" parameterType="Long">
        delete from flow_his_task where instance_id in
        <foreach item="instanceIds" collection="list" open="(" separator="," close=")">
            #{instanceIds}
        </foreach>
    </delete>

</mapper>
