<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warm.flow.orm.mapper.FlowNodeMapper">

    <resultMap type="com.warm.flow.orm.entity.FlowNode" id="FlowNodeResult">
        <result property="id" column="id"/>
        <result property="nodeType" column="node_type"/>
        <result property="definitionId" column="definition_id"/>
        <result property="nodeCode" column="node_code"/>
        <result property="nodeName" column="node_name"/>
        <result property="permissionFlag" column="permission_flag"/>
        <result property="coordinate" column="coordinate"/>
        <result property="skipAnyNode" column="skip_any_node"/>
        <result property="listenerType" column="listener_type"/>
        <result property="listenerPath" column="listener_path"/>
        <result property="version" column="version"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectVo">
        select t.id,
               t.node_type,
               t.definition_id,
               t.node_code,
               t.node_name,
               t.permission_flag,
               t.coordinate,
               t.skip_any_node,
               t.listener_type,
               t.listener_path,
               t.version,
               t.create_time,
               t.update_time
        from flow_node t
    </sql>

    <select id="getByFlowCode" resultMap="FlowNodeResult" parameterType="java.lang.String">
        select a.id,
               a.definition_id,
               a.node_code,
               a.node_name,
               a.permission_flag,
               a.update_time,
               a.node_type,
               a.coordinate,
               a.skip_any_node,
               a.listener_type,
               a.listener_path,
               a.create_time,
               b.version
        from flow_node a
                 INNER JOIN
             flow_definition b
             on b.flow_code = #{value} and a.definition_id = b.id and b.is_publish = 1
    </select>

    <select id="getByNodeCodes" resultMap="FlowNodeResult" parameterType="java.lang.String">
        <include refid="selectVo"/>
        where t.definition_id = #{definitionId} and t.node_code in
        <foreach collection="nodeCodes" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
